/*top banner*/
.top_banner {
    height: 100vh;
    background: url(../images/top_baner/abstract-brick-bricks-207204.jpg) center no-repeat;
    background-size: cover;
}

.top_banner_for_about_us {
    /*height: 100vh;
		background: url(../images/top_baner/about_us.jpg) center no-repeat;
		background-size: cover;*/
}



.gss111 {
	color: white;
	font-size: 150px;
}








