/*navigation menu*/
.menu_navigation {
    position: fixed;
    width: 25%;
    margin: 30px;
    border: solid #e6e6e6 1px;
    border-radius: 2%;
    right: 0;
    top: 53px;
    padding: 10px;
    height: 450px;
    transition: all 1s;
    background-color: rgba(3, 3, 3, 0.6);
    color: white;
    z-index: 101;

}

.menu_navigation a, .menu_navigation a:hover{
        text-decoration: none;
        color: white;
        z-index: 111;
        position: relative;
    }
.Welkome {
    margin: 20px 20px 20px 10px;
    width: 100px;
    font-size: 30px;
}

.Choise_language_and_currency {
    width: 100%;
}

.bl_ch {
    float: left;
}

.title_currency,
.title_language {
    width: 20%;
}

.chose_block_currency,
.chose_block_language {
    width: 20%;
}

.box_retreat {
    width: 90%;
    margin: 70px auto;
    border-top: solid black 1px;
}

.title_currency {
    margin-left: 20px;
}


.sector_navigation div {
    margin: 10px 0 0 20px;
}


.sun_brantch
{
    margin: -10px 0 0 35px; 
}











