/*small conteiner*/
.wrapper_for_content_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 4px;
}


.small_content {
    width: 180px;
    height: 210px;
    font: sans-serif;
    position: relative;
    padding: 1px;
    margin: 1px;
    z-index: -1;
}



.photo_small_content {

}

.small_content :hover {
    cursor: pointer;
}




.sc_price{
   margin-top: 20px;

}
.sc_discription  
{
   margin: -20px 0 0 0;
   width: 100%;
   float: bottom;  
   height: 100px;
}




.sc_price {
    padding-top: 10px; 
    margin: 10px;
    font: 16px/10px sans-serif;
    color: #ff7878;
}

.sc_price_without_discount {
    margin-top: 5px;
    font: 11px/10px sans-serif;
    color: #999999;
    text-decoration: line-through;
}

.sale_img {
    position: relative;
}

















