/*for oll page*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



body {
    background: #fafafa;
    width: 100%;
}

@font-face \
 {
    font-family: 'Segoe UI Light';
    src: url('SegoeUI-Light.eot');
    src: url('SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-Light.woff') format('woff'),
        url('SegoeUI-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}







.wrapper_for_oll_page {
    width: 99%;
    margin: 0 auto;
}

















/*top menu start*/

.top_menu {
    background: rgba(254, 254, 254, 1);
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: solid #e6e6e6 1px;
}



.wrap_top_menu {
    position: relative;
    z-index: 1;
}

.top_menu a img {
    height: 50px;
    margin: 10px;
}

.top_menu a {
    max-width: 30%;
}

.button_menu {
    width: 50px;
    height: 50px;
    margin: 10px 40px 10px 10px;
    right: 0px;
    top: 0;
    position: absolute;
    cursor: pointer;
    display: none;
}

.close_button_menu {
    width: 50px;
    height: 50px;
    margin: 17px 10px 10px 10px;
    right: 0px;
    top: 0;
    position: absolute;
    cursor: pointer;
    padding: 10px;
}

.position_button_menu {
    width: 50px;
    height: 50px;
    margin: 10px 40px 10px 10px;
    right: 0px;
    top: 0;
    position: absolute;
    cursor: pointer;
}

.button_menu,
.close_button_menu:hover {
    opacity: 0.6;
}



.close_button_menu img {
    width: 50%;
    position: relative;
    top: -5px;
    left: -5px;
}




body .open_menu_navigation {
    right: -600px;
    transition: all 1s;
}




/*css for button menu*/
.line_button_menu {
    width: 50%;
    height: 3px;
    margin: 4px auto;
    background-color: black;
}

.line_button_menu_first-child {
    margin-top: 15px;
    margin-left: auto;
}

/*end css for button menu*/
/*top menu end*/











/*top banner*/
.top_banner {
    height: 100vh;
    background: url(../images/top_baner/abstract-brick-bricks-207204.jpg) center no-repeat;
    background-size: cover;
}

/*end top banner*/




















/*top banner*/
.top_banner_for_about_us {
    /*height: 100vh;
		background: url(../images/top_baner/about_us.jpg) center no-repeat;
		background-size: cover;*/
}

/*end top banner*/

.title,
.text {
    font-family: 'Segoe UI Light';
}






/*navigation menu*/
.menu_navigation {
    position: fixed;
    width: 25%;
    margin: 30px;
    border: solid #e6e6e6 1px;
    border-radius: 2%;
    right: 0;
    top: 77px;
    padding: 10px;
    height: 1000px;
    transition: all 1s;
    background-color: rgba(3, 3, 3, 0.6);
    color: white;

}

a {
   color: white;
}

.Welkome {
    margin: 20px 20px 20px 10px;
    width: 100px;
    font-size: 30px;
}

.Choise_language_and_currency {
    width: 100%;
}

.bl_ch {
    float: left;
}

.title_currency,
.title_language {
    width: 20%;
}

.chose_block_currency,
.chose_block_language {
    width: 20%;
}

.box_retreat {
    width: 90%;
    margin: 70px auto;
    border-top: solid black 1px;
}

.title_currency {
    margin-left: 20px;
}


.sector_navigation div {
    margin: 10px 0 0 20px;
}





/*end navigation menu*/




















/*probel box*/
.probel_box {
    width: 100%;
    height: 110px;
    content: "";
}

/*end probel box*/

















/*css for small content box*/


.wrapper_for_content_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
}

.wrap_small_contnt {
    padding: 4px;
}

.small_content {
    width: 180px;
    height: 210px;
    font: sans-serif;
    position: relative;
    padding: 1px;
    margin: 1px;
    z-index: -1;
}

.photo_small_content {}

.small_content :hover {
    cursor: pointer;
}

.sc_discription :hover {
    color: #ff7878;
    text-decoration: underline;
}

.hart {
    display: none;
    justify-content: flex-end;
}

.sc_discription {
    font: 12px/10px sans-serif;
    margin-top: 4px;
    max-width: 160px;
}

.sc_price {
    margin-top: 10px;
    font: 16px/10px sans-serif;
    color: #ff7878;
}

.sc_price_without_discount {
    margin-top: 5px;
    font: 11px/10px sans-serif;
    color: #999999;
}

.sale_img {
    position: relative;
}

/*end css for small content box*/






























/*css for content box*/
.wrapper_for_content_box {
    width: 70%;
    border-radius: 2%;
    transition: all 1s;

}














.content_box {
    background-color: white;
    border: solid #e6e6e6 1px;
    overflow: hidden;
}






.small_logo {
    height: 60px;
    width: 60px;
}

.content_top_discription .text_wrapper {
    width: 400px;
    height: 10px;
    padding: 10px 0 0 30px;
    margin: -50px 0 0 40px;
}

.small_logo img {
    height: 59px;
    width: 59px;
    border-radius: 50%;
}

.content_top_discription {
    height: 60px;
    float: left;
}







.wraper_content_img img {
    width: 100%;
    margin: 0 auto;
}








.content_bottom_description {
    height: 60px;
    width: 100%;
    float: left;
    background: white;
}











/*overlay*/


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(49, 85, 103, 0.9);
    z-index: 1;
    display: flex;
    flex-direction: column;
    display: none;
}

.image_wrap {
    flex: 6;
}

.left_sector,
.right_sector {
    flex: 1;
}

.top_sector,
.bottom_sector {
    flex: 1;
}

.center_sector {
    flex: 7;
}

.top_sector,
.center_sector,
.bottom_sector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close_overlay {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: solid red 1px;
    float: right;
}

.image_wrap img {
    width: 100%;
}

/*end overlay*/


/*end css for content box*/









/*adaptation*/
@media screen and (max-width: 1125px) {


    body{
        width: 100%;
        justify-content: center;
    }



    .top_menu {
        max-width: 100%;
    }

    .top_menu a {
        max-width: 20%;
    }

    .big_logo {
        width: 30%;
    }
    .button_menu {
        width: 40px;
        height: 40px;
        margin: 10px 20px 10px 10px;
        right: 0px;
        top: 0;
        position: absolute;
        cursor: pointer;
        
    }

    .close_button_menu {
        width: 30px;
        height: 30px;
        margin: 17px 0px 10px 10px;
        right: 0px;
        top: 0;
        position: absolute;
        cursor: pointer;
        padding: 10px;
        display: none;
    }
.position_button_menu { 
    margin: 10px 10px 10px 10px;
   }







    .wrapper_for_content_box {
        width: 100%;
    }

    .menu_navigation {
        width: 98%;
        right: -1000px;
    }

    .wrapper_for_oll_page {
        width: 99%;
        justify-content: center;
    }
    .top_banner{
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .wrapper_for_content_box {
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    .wrapper_for_content_box {
        width: 100%;
    }

}



/*end adaptation*/