<div id="<%= dom_id contract %>">
  <p>
    <strong>Num:</strong>
    <%= contract.num %>
  </p>

  <p>
    <strong>Date create:</strong>
    <%= contract.date_create %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= contract.organization_id %>
  </p>

</div>
