<div id="<%= dom_id contract %>">
  <p>
    <strong>Data create contract:</strong>
    <%= contract.data_create_contract %>
  </p>

  <p>
    <strong>Number contract:</strong>
    <%= contract.number_contract %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= contract.organization_id %>
  </p>

</div>
