<p style="color: green"><%= notice %></p>

<h1>Perssons</h1>

<div id="perssons">
  <% @perssons.each do |persson| %>
    <%= render persson %>
    <p>
      <%= link_to "Show this persson", persson %>
    </p>
  <% end %>
</div>

<%= link_to "New persson", new_persson_path %>
