.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.072266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.072266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.262500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.262500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.262500,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y33{bottom:0.000000px;}
.y0{bottom:5.500000px;}
.y32{bottom:25.453995px;}
.y66{bottom:30.053970px;}
.y7b{bottom:30.194003px;}
.y65{bottom:57.652017px;}
.y77{bottom:57.792010px;}
.y64{bottom:71.451016px;}
.y7a{bottom:71.591006px;}
.y31{bottom:80.649991px;}
.y63{bottom:85.250015px;}
.y30{bottom:94.448990px;}
.y62{bottom:99.048978px;}
.y2f{bottom:108.248001px;}
.y61{bottom:112.847977px;}
.y2e{bottom:122.046975px;}
.y60{bottom:126.647000px;}
.y2d{bottom:135.845975px;}
.y5f{bottom:140.445999px;}
.y76{bottom:140.586001px;}
.y2c{bottom:149.644974px;}
.y5e{bottom:154.244985px;}
.y75{bottom:154.384997px;}
.y2b{bottom:163.443997px;}
.y5d{bottom:168.043984px;}
.y74{bottom:168.184001px;}
.y2a{bottom:177.242996px;}
.y5c{bottom:181.842984px;}
.y79{bottom:181.983002px;}
.y73{bottom:181.983005px;}
.y29{bottom:191.042007px;}
.y5b{bottom:195.641983px;}
.y72{bottom:195.782001px;}
.y5a{bottom:209.440994px;}
.y78{bottom:209.581001px;}
.y71{bottom:209.581004px;}
.y28{bottom:218.639981px;}
.y70{bottom:223.380000px;}
.y27{bottom:232.438980px;}
.y59{bottom:237.039006px;}
.y6f{bottom:237.179005px;}
.y26{bottom:246.238004px;}
.y58{bottom:250.838010px;}
.y6e{bottom:250.978003px;}
.y25{bottom:260.037003px;}
.y57{bottom:264.637013px;}
.y6d{bottom:264.777004px;}
.y24{bottom:273.835977px;}
.y56{bottom:278.436013px;}
.y6c{bottom:278.576003px;}
.y23{bottom:287.634976px;}
.y55{bottom:292.235013px;}
.y6b{bottom:292.375003px;}
.y22{bottom:301.433975px;}
.y54{bottom:306.034012px;}
.y21{bottom:315.232999px;}
.y53{bottom:319.832993px;}
.y20{bottom:329.031998px;}
.y1f{bottom:342.830991px;}
.y67{bottom:355.000000px;}
.y1e{bottom:356.629990px;}
.y52{bottom:361.230008px;}
.y1d{bottom:370.429001px;}
.y6a{bottom:371.432992px;}
.y51{bottom:375.029007px;}
.y50{bottom:388.827988px;}
.y1c{bottom:398.027005px;}
.y1b{bottom:411.826004px;}
.y1a{bottom:425.625015px;}
.y4f{bottom:430.225003px;}
.y19{bottom:439.423996px;}
.y4e{bottom:444.024002px;}
.y18{bottom:453.223007px;}
.y4d{bottom:457.822995px;}
.y17{bottom:467.021988px;}
.y4c{bottom:471.621994px;}
.y16{bottom:480.820992px;}
.y4b{bottom:485.420999px;}
.y15{bottom:494.619992px;}
.y4a{bottom:499.219998px;}
.y14{bottom:508.418991px;}
.y49{bottom:513.018997px;}
.y13{bottom:522.218015px;}
.y48{bottom:526.818008px;}
.y12{bottom:536.017014px;}
.y11{bottom:549.815994px;}
.y47{bottom:554.415998px;}
.y10{bottom:563.615005px;}
.y46{bottom:568.214993px;}
.yf{bottom:577.414001px;}
.y45{bottom:582.013997px;}
.ye{bottom:591.213006px;}
.y44{bottom:595.812993px;}
.yd{bottom:605.012006px;}
.y43{bottom:609.611997px;}
.yc{bottom:618.811005px;}
.y42{bottom:623.411000px;}
.yb{bottom:632.610001px;}
.y41{bottom:637.210000px;}
.y40{bottom:651.009000px;}
.ya{bottom:660.207993px;}
.y3f{bottom:664.807999px;}
.y3e{bottom:678.606999px;}
.y9{bottom:687.806005px;}
.y3d{bottom:692.405995px;}
.y8{bottom:701.605004px;}
.y3c{bottom:706.204999px;}
.y69{bottom:706.205002px;}
.y7{bottom:715.404004px;}
.y3b{bottom:720.004003px;}
.y6{bottom:729.203003px;}
.y3a{bottom:733.803002px;}
.y5{bottom:743.002000px;}
.y39{bottom:747.602002px;}
.y4{bottom:756.801000px;}
.y68{bottom:761.400998px;}
.y38{bottom:761.401001px;}
.y3{bottom:770.599998px;}
.y37{bottom:775.200002px;}
.y2{bottom:784.398998px;}
.y36{bottom:788.999001px;}
.y35{bottom:802.798000px;}
.y1{bottom:814.729000px;}
.y34{bottom:816.597000px;}
.h3{height:33.328125px;}
.h4{height:41.109375px;}
.h2{height:47.960938px;}
.h5{height:126.500000px;}
.h1{height:132.500000px;}
.h7{height:303.578003px;}
.h6{height:335.000000px;}
.h0{height:842.000000px;}
.w1{width:137.000000px;}
.w3{width:284.549988px;}
.w4{width:284.600006px;}
.w2{width:571.000000px;}
.w0{width:595.349976px;}
.x6{left:5.150000px;}
.x5{left:12.000000px;}
.x2{left:18.000000px;}
.x0{left:34.500000px;}
.x4{left:48.000000px;}
.x1{left:203.464996px;}
.x3{left:226.029007px;}
.x7{left:297.899988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y33{bottom:0.000000pt;}
.y0{bottom:7.333333pt;}
.y32{bottom:33.938660pt;}
.y66{bottom:40.071960pt;}
.y7b{bottom:40.258671pt;}
.y65{bottom:76.869356pt;}
.y77{bottom:77.056014pt;}
.y64{bottom:95.268022pt;}
.y7a{bottom:95.454675pt;}
.y31{bottom:107.533321pt;}
.y63{bottom:113.666687pt;}
.y30{bottom:125.931986pt;}
.y62{bottom:132.065304pt;}
.y2f{bottom:144.330668pt;}
.y61{bottom:150.463969pt;}
.y2e{bottom:162.729300pt;}
.y60{bottom:168.862667pt;}
.y2d{bottom:181.127967pt;}
.y5f{bottom:187.261332pt;}
.y76{bottom:187.448002pt;}
.y2c{bottom:199.526632pt;}
.y5e{bottom:205.659980pt;}
.y75{bottom:205.846663pt;}
.y2b{bottom:217.925330pt;}
.y5d{bottom:224.058646pt;}
.y74{bottom:224.245335pt;}
.y2a{bottom:236.323995pt;}
.y5c{bottom:242.457312pt;}
.y79{bottom:242.644002pt;}
.y73{bottom:242.644006pt;}
.y29{bottom:254.722677pt;}
.y5b{bottom:260.855977pt;}
.y72{bottom:261.042667pt;}
.y5a{bottom:279.254659pt;}
.y78{bottom:279.441335pt;}
.y71{bottom:279.441339pt;}
.y28{bottom:291.519975pt;}
.y70{bottom:297.840000pt;}
.y27{bottom:309.918640pt;}
.y59{bottom:316.052008pt;}
.y6f{bottom:316.238673pt;}
.y26{bottom:328.317338pt;}
.y58{bottom:334.450680pt;}
.y6e{bottom:334.637338pt;}
.y25{bottom:346.716003pt;}
.y57{bottom:352.849351pt;}
.y6d{bottom:353.036006pt;}
.y24{bottom:365.114635pt;}
.y56{bottom:371.248018pt;}
.y6c{bottom:371.434671pt;}
.y23{bottom:383.513302pt;}
.y55{bottom:389.646684pt;}
.y6b{bottom:389.833337pt;}
.y22{bottom:401.911967pt;}
.y54{bottom:408.045349pt;}
.y21{bottom:420.310665pt;}
.y53{bottom:426.443990pt;}
.y20{bottom:438.709330pt;}
.y1f{bottom:457.107988pt;}
.y67{bottom:473.333333pt;}
.y1e{bottom:475.506653pt;}
.y52{bottom:481.640011pt;}
.y1d{bottom:493.905334pt;}
.y6a{bottom:495.243989pt;}
.y51{bottom:500.038676pt;}
.y50{bottom:518.437317pt;}
.y1c{bottom:530.702674pt;}
.y1b{bottom:549.101339pt;}
.y1a{bottom:567.500020pt;}
.y4f{bottom:573.633338pt;}
.y19{bottom:585.898661pt;}
.y4e{bottom:592.032003pt;}
.y18{bottom:604.297343pt;}
.y4d{bottom:610.430660pt;}
.y17{bottom:622.695984pt;}
.y4c{bottom:628.829325pt;}
.y16{bottom:641.094657pt;}
.y4b{bottom:647.227998pt;}
.y15{bottom:659.493323pt;}
.y4a{bottom:665.626664pt;}
.y14{bottom:677.891988pt;}
.y49{bottom:684.025330pt;}
.y13{bottom:696.290686pt;}
.y48{bottom:702.424011pt;}
.y12{bottom:714.689351pt;}
.y11{bottom:733.087992pt;}
.y47{bottom:739.221330pt;}
.y10{bottom:751.486674pt;}
.y46{bottom:757.619991pt;}
.yf{bottom:769.885335pt;}
.y45{bottom:776.018663pt;}
.ye{bottom:788.284008pt;}
.y44{bottom:794.417324pt;}
.yd{bottom:806.682674pt;}
.y43{bottom:812.815996pt;}
.yc{bottom:825.081340pt;}
.y42{bottom:831.214667pt;}
.yb{bottom:843.480001pt;}
.y41{bottom:849.613333pt;}
.y40{bottom:868.012000pt;}
.ya{bottom:880.277323pt;}
.y3f{bottom:886.410665pt;}
.y3e{bottom:904.809333pt;}
.y9{bottom:917.074673pt;}
.y3d{bottom:923.207994pt;}
.y8{bottom:935.473339pt;}
.y3c{bottom:941.606665pt;}
.y69{bottom:941.606669pt;}
.y7{bottom:953.872005pt;}
.y3b{bottom:960.005337pt;}
.y6{bottom:972.270671pt;}
.y3a{bottom:978.404003pt;}
.y5{bottom:990.669333pt;}
.y39{bottom:996.802670pt;}
.y4{bottom:1009.068000pt;}
.y68{bottom:1015.201331pt;}
.y38{bottom:1015.201335pt;}
.y3{bottom:1027.466665pt;}
.y37{bottom:1033.600002pt;}
.y2{bottom:1045.865331pt;}
.y36{bottom:1051.998669pt;}
.y35{bottom:1070.397334pt;}
.y1{bottom:1086.305333pt;}
.y34{bottom:1088.796000pt;}
.h3{height:44.437500pt;}
.h4{height:54.812500pt;}
.h2{height:63.947917pt;}
.h5{height:168.666667pt;}
.h1{height:176.666667pt;}
.h7{height:404.770671pt;}
.h6{height:446.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:182.666667pt;}
.w3{width:379.399984pt;}
.w4{width:379.466675pt;}
.w2{width:761.333333pt;}
.w0{width:793.799967pt;}
.x6{left:6.866667pt;}
.x5{left:16.000000pt;}
.x2{left:24.000000pt;}
.x0{left:46.000000pt;}
.x4{left:64.000000pt;}
.x1{left:271.286662pt;}
.x3{left:301.372009pt;}
.x7{left:397.199984pt;}
}
